<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
<body>
    <h1>ESTUDIANTES</h1>
    <a href="{% url 'home'%}">Home</a>
</body>

<body>

    <CENTER><h1>ESTUDIANTES</h1></CENTER><hr><br>

    <table class ="table table-hover" > 

        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Foto</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Lopez</td>
            <td>San Marcos</td>
            <td>53574544</td>
            <td> <img src="https://img.icons8.com/cotton/2x/26e07f/space-suit.png" width="65px" height="55px"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Esteban</td>
            <td>Maldonado</td>
            <td>Quetzaltenango</td>
            <td>33573421</td>
            <td> <img src="https://image.flaticon.com/icons/png/512/547/547423.png" width="65px" height="55px"></td>
        </tr>

    </table>
</body>
</html>