{% extends 'base.html' %}

{% block Estudiantes %}

Estudiantes<hr>
<body>

    <table border="2">
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Direccion</td>
        </tr>
        {% for est in object_list %}  
        <tr>
            <td>{{ est.nombre }}</td>
            <td>{{ est.apellido }}</td>
            <td>{{ est.direccion }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Crear estudiante</h2>
    <a href="{% url 'home:crear'%}">Crear</a>
</body>
{% endblock%}





